@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@media only screen and (max-width:450px){
  html{
    font-size: 62.5%;
  }
}

@media only screen and (min-width:450px)  and (max-width:1024px){
  html{
    font-size: 82.5%;
  }
}

body {
  font-family: $primary-font, $secondary-font;
  // background-color: darkgray;
}

.border{
  border: 1px solid black;
}